{"filter":false,"title":"config.py.sample","tooltip":"/config.py.sample","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1447782027000,"hash":"a3264cc62d5bef80e125e4f0808774145c487bb1"}